# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      - image: circleci/python:2.7.14


    working_directory: ~/muDIC

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "requirements.txt" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            mkdir -p ./venv
            virtualenv venv
            . venv/bin/activate
            pip install -r requirements.txt

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}

      # run examples!
      - run:
          name: run examples
          command: |
            . venv/bin/activate
            nosetests -w ./Examples/ test_check_examples.py

      # run tests!
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            pytest --pyargs muDIC --cov=./
            codecov -t $CODECOV_TOKEN

      - store_artifacts:
          path: test-reports
          destination: test-reports


